/* 定义本地字体 */
@font-face {
  font-family: "MapleMonoNormalNL-Regular";
  src: url("./MapleMonoNormalNL-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 应用字体变量 */
:root {
  --rp-font-family-mono:
    "MapleMonoNormalNL-Regular", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
