/* 定义本地字体 */
@font-face {
  font-family: "MapleMonoNormalNL-CN-Regular";
  src: url("./MapleMonoNormalNL-CN-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 应用字体变量 */
:root {
  --rp-font-family-base:
    "MapleMonoNormalNL-CN-Regular", "Inter var experimental", "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --rp-font-family-mono:
    "MapleMonoNormalNL-CN-Regular", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
